.contactOptionNav{
    background-color: #202c33;
    height: 59px;
    padding: 10px 16px;
    text-align: center;
}
.demo{
    height: 40px;
}

.dp{
    overflow: hidden;
   height: 49px;
   width: 49px;
   border-radius: 50%;
  }
.dp img{
    height: 100%;
    width: 100%;
}
  